<!DOCTYPE html>
<html>
<head>
<title>Library Book Picker</title>

<link rel="stylesheet" href="../assets/css/styles.css">
</head>

<body>
<ul class = "nav">
    <li><img src = '../assets/images/booklogo.png' style = "width:50px;height:50px;"></li>
    <li><h3>Build A Library</h3></li>
    <li><button class = "login">Log In</button></li>
</ul>

<h1 class = 'center'>Find Your Library.</h1>
<button class = 'button'>Build It Here</button>

<div></div>

<h2>Suggested Cities</h2>

<ul>
    <li>Book Title by Author's Name | $price</li>
    <li>Book Title by Author's Name | $price</li>
    <li>Book Title by Author's Name | $price</li>
    <li>Book Title by Author's Name | $price</li>
</ul>

</body>

</html>